{% extends 'root.html' %}

{% block title %}
  Browse captures
{% endblock %}

{% block body %}
  <form class="search-form">
    <input autofocus type="text" name="query" placeholder="Query" />
    <button type="submit">
      Search
    </button>
  </form>

  <div id="images-container">
    {% for capture in captures %}
      <div style="display: flex; align-items: center; flex-direction: column; gap: 15px">
        <a href="{{ url_for('show_capture', identifier=capture.id) }}">
          <img width="600" src="{{ url_for('get_image', filename=capture.filename) }}" alt="Result Image">
        </a>
        <span class="timestamp">{{ capture.timestamp | timestamp_to_date }}</span>
      </div>
    {% endfor %}
  </div>
{% endblock %}
