{% extends 'root.html' %}

{% block title %}
  Browse captures
{% endblock %}

{% block body %}
  <div id="images-container">
    {% for capture in captures %}
      <div style="display: flex; align-items: center; flex-direction: column; gap: 15px">
        <a href="{{ url_for('show_capture', identifier=capture.id) }}">
          <img width="600" src="{{ url_for('get_image', filename=capture.filename) }}" alt="Result Image">
        </a>
        <span class="timestamp">{{ capture.timestamp | timestamp_to_date }}</span>
      </div>
    {% endfor %}

    {% if captures|length == 0 %}
      <p>Enter a query and check the results here</p>
    {% endif %}
  </div>
{% endblock %}
