<!DOCTYPE html>
<html>
  <head>
    <title>{%block title %}{% endblock %}</title>
  </head>

  <style>
    body {
      font-family: Arial, sans-serif;
    }

    #images-container {
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
    }

    #app {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .search-form {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .timestamp {
      border-radius: 8px;
      background-color: #5f3abd;
      color: white;
      padding: 10px 15px;
    }
  </style>

  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
